// === contact ===

// ~*~ left section - with icons ~*~

.contact_bar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}
.contact_icon {
    background-color: #ee5d30;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   // padding: 10px;
    margin-right: 40px;
}

.contact_icon img {
   width: 30px;
}
.contact_square {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.icons, .hello {
    width: 40%;
}

.icons h5, .hello h5 {
    margin-bottom: 40px;
    font-size: 15px;
}
.icons h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

.icons p {
    color: grey;
    font-size: 14px;
}

textarea {
    resize: none;
}

#but_sbm {
    background-color: #f56131;
    width: 200px;
    text-transform: uppercase;
    border-color: transparent;
    padding: 5%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 23%;
}

#but_sbm:hover {
    background-color: black;
}

// ~*~ form ~*~

#phone_message, #email_message, #name_message, #text_message {
    display: none;
    color: #f56131;
    font-size: 14px;
    background-color: lightgrey;
    width: 25vw;
    border-radius: 7px;
    opacity: 0.7;
    padding: 20px;
    text-align: center;
    margin-left: 8vw;
}

form label {
    color: grey;
    font-size: 14px;
  //  width: 100px;
    display: inline-block;
}


input, textarea {
    margin-bottom: 25px;
    margin-left: 5vw;
    width: 25vw;
    border-color: transparent;
    border-bottom: 2px solid lightgrey;
    color: #f56131;
    font-size: 18px;
}

textarea {
    margin-left: 8vw;
}


@media screen and (max-width:350px) {
    .icons, .hello {
        width: 80%;
    }

    #phone_message, #email_message, #name_message, #text_message {
        font-size: 12px;
        width: 70vw;
        margin-left: 0;
    }

    #txt, input {
        width: 70vw;
        margin-left: 0;
    }

    #but_sbm {
        margin-left: 0;
    }
}

@media screen and (max-width: 700px) {
    .icons, .hello {
        width: 80%;
    }

    #phone_message, #email_message, #name_message, #text_message {
        font-size: 12px;
        width: 70vw;
        margin-left: 0;
    }

    #txt, input {
        width: 70vw;
        margin-left: 50px;
    }

    #but_sbm {
        margin-left: 0;
    }
}