footer {
    background-color: #2f2339;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    p {
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 14px;
    }
}