//====section 5 - violet squares ====

#services {
    color: white;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}

#services>div {
    background-color: #2f2339;
    padding-top: 10vh;
    padding-left: 6vw;
    width: 780px;
    display: flex;
    flex-wrap: wrap;
}
#services:nth-child(2) {
    background-color: #2f2339;
    width: 780px;
    position: relative;
}

.points {
    padding-bottom: 50px;
}

#services h5 {
    font-size: 26px;
}

.points {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}

.points h6 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
.square {
    width: 200px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.service_img {
    width: 400px;
    top: 10%;
    vertical-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/ipad.png");
    position: absolute;
    height: 80%;
    margin-left: 500px;
}


@media screen and (max-width:960px) {

    #services>div {
        width: 100%;
    }

    .service_img {
        width: 30%;
        margin-left: 450px;
    }
}

@media screen and (max-width:730px) {

    .service_img {
        display: none;
    }

    .square {
        width: 100%;
    }
}
