//=== thanks for visit ===

#contact>div {
    background-image: url("../images/thanks.png");
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contact h5 {
    font-size: 40px;
    margin-bottom: 20px;
}

#contact h6 {
    font-size: 22px;
    margin-bottom: 40px;
}

#contact p {
    font-weight: 300;
}
