//=== section 6 - watch ===

.watch .container {
    height: 260px;
    background-color:  #ee5d30;
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

.watch img {
    width: 16vw;
}

.watch p {
    margin-left: -21vw;
    font-weight: bold;
    color: white;
    margin-right: 5vw;
    font-size: 3vw;
}